* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Class */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 18px 36px;
  background: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.color-orange {
  color: #FD6E0A;
}

/* Main Class */
header {
  padding-top: 50px;
  background: url('../images/developer.png'), url("../images/header_bg.png"), #FFF8F3;
  background-repeat: no-repeat;
  background-position: top left , bottom right;
}

nav {
  width: 71%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 51px;
}

.menu li a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 46px 10px 0px 230px;
}

#banner .banner-content {
  width: 550px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  margin-bottom: 20px;
  color: #181818;
  font-weight: 700;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;  
}

#banner .banner-image img {
  width: 584px;
  height: 570px;
  object-fit: contain;
  vertical-align: middle;
}