* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Class */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 18px 36px;
  background: #FD6E0A;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.color-orange {
  color: #FD6E0A;
}

/* Main Class */
header {
  background: #FFF8F3;
  padding-top: 50px;
}

nav {
  width: 71%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 51px;
}

.menu li a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}